.stars, .twinkling,.background{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height: 100vh;;
    display:block;

  }
  .stars {
    background: url(https://res.cloudinary.com/grover/image/upload/v1542806864/stars_felerf.png) repeat top;
    background-size:120%;
    z-index:0;
  }
  
  .background {
    background: url(https://res.cloudinary.com/grover/image/upload/v1542805362/background-blue_awttmk.png);
    position: absolute;
    z-index: 0;
}
  
  @keyframes move-twink-back {
      from {background-position:0 0;}
      to {background-position:-10000px 5000px;}
  }

  .twinkling{
    position: absolute;
        background:transparent url(https://res.cloudinary.com/grover/image/upload/v1542805267/twinkling-blue_o3g54v.png) repeat top center;
        z-index:0;
        animation: move-twink-back 200s linear infinite ;
  }
    
body {
    animation: change-background 5s 2s forwards;
}


img {
    position: absolute;
    z-index: index 5;
    bottom: -50%;
    left:-5%;
    width: 110%;
    height: 1200px;

}

.moon {
    position: absolute;
    left: 20%;
    width: 120px;
    height: 120px;
    top: 90px;
    background-color: #f3eeeb;
    border-radius: 50%;
    box-shadow:0 0 20px 10px #c4bdba;
    animation: moon 50s forwards;
    z-index: 8;

}

@keyframes moon {
    100% {
        transform: translateX(750px);
    } 
}


.tree {
    width:500px;
    height: 3px;
    position: absolute;
    bottom: -110%;
    left: -10%;
    z-index: 9;

}

.bird {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    z-index: 10;
    will-change: background-position;
    -webkit-animation-name: fly-cycle;
            animation-name: fly-cycle;
    -webkit-animation-timing-function: steps(10);
            animation-timing-function: steps(10);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }

  .bird--one {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  .bird--two {
    -webkit-animation-duration: 0.9s;
            animation-duration: 0.9s;
    -webkit-animation-delay: -0.75s;
            animation-delay: -0.75s;
  }
  .bird--three {
    -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
    -webkit-animation-delay: -0.25s;
            animation-delay: -0.25s;
  }
  .bird--four {
    -webkit-animation-duration: 1.1s;
            animation-duration: 1.1s;
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }

  .bird-container {
    position: absolute;
    top: 20%;
    left: -10%;
    -webkit-transform: scale(0) translateX(-10vw);
            transform: scale(0) translateX(-10vw);
    will-change: transform;
    -webkit-animation-name: fly-right-one;
            animation-name: fly-right-one;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .bird-container--one {
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-delay: 0;
            animation-delay: 0;
  }
  .bird-container--two {
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .bird-container--three {
    -webkit-animation-duration: 14.6s;
            animation-duration: 14.6s;
    -webkit-animation-delay: 9.5s;
            animation-delay: 9.5s;
  }
  .bird-container--four {
    -webkit-animation-duration: 16s;
            animation-duration: 16s;
    -webkit-animation-delay: 10.25s;
            animation-delay: 10.25s;
  }

  @-webkit-keyframes fly-cycle {
    100% {
      background-position: -900px 0;
    }
  }
  
  @keyframes fly-cycle {
    100% {
      background-position: -900px 0;
    }
  }
  @-webkit-keyframes fly-right-one {
    0% {
      -webkit-transform: scale(0.3) translateX(-10vw);
              transform: scale(0.3) translateX(-10vw);
    }
    10% {
      -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
              transform: translateY(2vh) translateX(10vw) scale(0.4);
    }
    20% {
      -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
              transform: translateY(0vh) translateX(30vw) scale(0.5);
    }
    30% {
      -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
              transform: translateY(4vh) translateX(50vw) scale(0.6);
    }
    40% {
      -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
              transform: translateY(2vh) translateX(70vw) scale(0.6);
    }
    50% {
      -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
              transform: translateY(0vh) translateX(90vw) scale(0.6);
    }
    60% {
      -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
              transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
    100% {
      -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
              transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
  }
  @keyframes fly-right-one {
    0% {
      -webkit-transform: scale(0.3) translateX(-10vw);
              transform: scale(0.3) translateX(-10vw);
    }
    10% {
      -webkit-transform: translateY(2vh) translateX(10vw) scale(0.4);
              transform: translateY(2vh) translateX(10vw) scale(0.4);
    }
    20% {
      -webkit-transform: translateY(0vh) translateX(30vw) scale(0.5);
              transform: translateY(0vh) translateX(30vw) scale(0.5);
    }
    30% {
      -webkit-transform: translateY(4vh) translateX(50vw) scale(0.6);
              transform: translateY(4vh) translateX(50vw) scale(0.6);
    }
    40% {
      -webkit-transform: translateY(2vh) translateX(70vw) scale(0.6);
              transform: translateY(2vh) translateX(70vw) scale(0.6);
    }
    50% {
      -webkit-transform: translateY(0vh) translateX(90vw) scale(0.6);
              transform: translateY(0vh) translateX(90vw) scale(0.6);
    }
    60% {
      -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
              transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
    100% {
      -webkit-transform: translateY(0vh) translateX(110vw) scale(0.6);
              transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
  }
  @-webkit-keyframes fly-right-two {
    0% {
      -webkit-transform: translateY(-2vh) translateX(-10vw) scale(0.5);
              transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }
    10% {
      -webkit-transform: translateY(0vh) translateX(10vw) scale(0.4);
              transform: translateY(0vh) translateX(10vw) scale(0.4);
    }
    20% {
      -webkit-transform: translateY(-4vh) translateX(30vw) scale(0.6);
              transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }
    30% {
      -webkit-transform: translateY(1vh) translateX(50vw) scale(0.45);
              transform: translateY(1vh) translateX(50vw) scale(0.45);
    }
    40% {
      -webkit-transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
              transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }
    50% {
      -webkit-transform: translateY(0vh) translateX(90vw) scale(0.45);
              transform: translateY(0vh) translateX(90vw) scale(0.45);
    }
    51% {
      -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
              transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
    100% {
      -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
              transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
  }
  @keyframes fly-right-two {
    0% {
      -webkit-transform: translateY(-2vh) translateX(-10vw) scale(0.5);
              transform: translateY(-2vh) translateX(-10vw) scale(0.5);
    }
    10% {
      -webkit-transform: translateY(0vh) translateX(10vw) scale(0.4);
              transform: translateY(0vh) translateX(10vw) scale(0.4);
    }
    20% {
      -webkit-transform: translateY(-4vh) translateX(30vw) scale(0.6);
              transform: translateY(-4vh) translateX(30vw) scale(0.6);
    }
    30% {
      -webkit-transform: translateY(1vh) translateX(50vw) scale(0.45);
              transform: translateY(1vh) translateX(50vw) scale(0.45);
    }
    40% {
      -webkit-transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
              transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
    }
    50% {
      -webkit-transform: translateY(0vh) translateX(90vw) scale(0.45);
              transform: translateY(0vh) translateX(90vw) scale(0.45);
    }
    51% {
      -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
              transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
    100% {
      -webkit-transform: translateY(0vh) translateX(110vw) scale(0.45);
              transform: translateY(0vh) translateX(110vw) scale(0.45);
    }
  }


  .cloud1 {
    width: 300px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    top: -35vh;
    left: -25vw;
    color: rgb(23, 23, 185);
    z-index: 8;
    animation: cld 20s linear infinite;
    transform: rotate(-60deg);
  }
  
  #cloud-back1 {
    filter: url(#filter-back1);
    box-shadow: 300px 300px 30px -20px rgb(116, 116, 123);
    z-index: 8;
  }
  
  #cloud-mid1 {
    filter: url(#filter-mid1);
    box-shadow: 300px 340px 70px -60px rgba(63, 66, 70, 0.5);
      left: -25vw;
      z-index: 8;
  }
  #cloud-front1 {
    filter: url(#filter-front1);
    box-shadow: 300px 370px 60px -100px rgba(19, 17, 17, 0.3);
      left: -25vw;
      z-index: 8;
  }


  .cloud2 {
    width: 700px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -40vh;
    left: -50vw;
    color: rgb(23, 23, 185);
    z-index: 8;
    animation: cld 60s linear infinite;
    transform: rotate(-60deg);
  }
  
  
  #cloud-back2 {
    filter: url(#filter-back2);
    box-shadow: 300px 300px 30px -20px rgb(147, 147, 152);
    z-index: 6;
  }
  
  #cloud-mid2 {
    filter: url(#filter-mid2);
    box-shadow: 300px 340px 70px -60px rgba(71, 73, 76, 0.5);
      left: -25vw;
      z-index: 6;
  }
  
  #cloud-front2 {
    filter: url(#filter-front2);
    box-shadow: 300px 370px 60px -100px rgba(72, 74, 76, 0.3);
      left: -25vw;
      z-index: 6;
  }


  .cloud3 {
    width: 400px;
    height: 200px;
    border-radius: 110%;
    position: absolute;
    top: -40vh;
    left: -25vw;
    color: rgb(23, 23, 185);
    z-index: 7;
    animation: cld 40s linear infinite;
    transform: rotate(50deg);
  }

  #cloud-back3 {
    filter: url(#filter-back3);
    box-shadow: 300px 300px 30px -20px rgb(111, 113, 121);
    z-index: 7;
  }
  
  #cloud-mid3 {
    filter: url(#filter-mid3);
    box-shadow: 300px 340px 70px -60px rgba(119, 124, 132, 0.5);
      left: -25vw;
      z-index: 7;
  }
  
  #cloud-front3 {
    filter: url(#filter-front3);
    box-shadow: 300px 370px 60px -100px rgba(103, 103, 110, 0.3);
      left: -25vw;
      z-index: 7;
  }




  .cloud4 {
    width: 400px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    top: -35vh;
    left: -25vw;
    color: rgb(23, 23, 185);
    z-index: 7;
    animation: cld 50s linear infinite;
  }

  #cloud-back4 {
    filter: url(#filter-back4);
    box-shadow: 300px 300px 30px -20px rgb(92, 94, 100);
    z-index: 8;
  }
  
  #cloud-mid4 {
    filter: url(#filter-mid4);
    box-shadow: 300px 340px 70px -60px rgba(75, 77, 80, 0.5);
      left: -25vw;
      z-index: 8;
  }
  
  #cloud-front4 {
    filter: url(#filter-front4);
    box-shadow: 300px 370px 60px -100px rgba(0, 0, 0, 0.3);
      left: -25vw;
      z-index: 8;
  }



  @keyframes cld {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(400%);
    }
}